$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-quote-right: "\e903";
$icon-slack: "\e904";
$icon-stack-overflow-brands: "\e900";
$icon-amazon-brands: "\e901";
$icon-sass-brands: "\e902";
$icon-facebook: "\ea90";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-twitch: "\ea9f";



$light-color: #fff;
$text-color: #696980;
$subtitle-color: #44444f;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$gray-text-color: #9191b5;
$btn-gradient: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
$btn-shadow: rgba(101, 228, 125, 0.5);