<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Bukee</title>
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
		<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
		<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	</head>
	<body>
	<div class="page-main">
		<header>
			<div class="header">
				<a href="" class="header__logo"></a>
				<ul class="header-list">
					<li class="header-list__item active"><a class="header-list__link" href="#">Home</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#author">About</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#contents">Contents</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#books">Books</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#education">Education</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#events">Skills</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#blog">Portfolio</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#clients">Clients</a></li>
					<li class="header-list__item"><a class="header-list__link" href="#credits">Contact</a></li>
				</ul>
			</div>
		</header>
		<div class="wrap">
			<div class="block-book">
				<div class="block-book-demo">
					<h2 class="block-book-demo__title">Good book<span>Don’t judge a book by its cover</span></h2>
					<p class="block-book-demo__author">- By Emma Anderson</p>
				</div>
				<div class="block-text">
					<p class="block-text__name">- By Emma Anderson</p>
					<h1 class="block-text__title">BUKEE: THE BOOK <span>A room without books is like a body without a soul</span></h1>
					<p class="block-text__description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<p class="block-text__description">
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut 
					</p>
					<a class="block-text__btn" href="#">Buy this book - $15.00</a>
					<small>* Some conditions may applicable</small>
				</div>
			</div>
		</div>
	</div>
	<section id="author">
	<div class="page">
			<div class="wrap">
				<div class="block-author">
					<div class="block-text">
						<p class="block-text__name">- Book Author</p>
						<h2 class="block-text__title">Emma Anderson <span>A room without books is like a body without a soul</span></h2>
						<p class="block-text__description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<p class="block-text__description">
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut 
						</p>
						<a class="block-text__btn" href="#">Read full biography</a>
					</div>
					<div class="block-avatar">
						<svg class="block-avatar__svg" width="435" height="558">
							<linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="558">
								<stop offset="0" style="stop-color:#426384" />
								<stop offset="1" style="stop-color:#5acab1" />
							  </linearGradient>
							<rect width="435" height="558" x="0" y="0" fill=url(#gradient)></rect>
						</svg>
						<img class="block-avatar__img" src="../img/author-image1.jpg" alt="Author avatar">
					</div>
				</div>
				<div class="block-counter">
				   <p><span>12</span>Total published books</p>
				   <p><span>5</span>Happy readers</p>
				   <p><span> 15,000</span>Happy readers</p>       
				</div>
			</div>
		</div>
	</section>
	<section id="contents">
		<div class="page page_gray">
			<div class="wrap">
				<h2 class="page__title">Book Contents</h2>
				<p class="page__subtitle">Let’s see what we have covered in the book</p>
				<div class="block-about">
					<div class="block-about-text">
						<h3>About the book</h3>
						<p class="block-about-text__desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.
						</p>
						<div class="block-about-social">
							<p class="block-about-social__title">Featured in:</p>
							<ul class="block-about-social__list">
								<li><a href="#"></a><i class="icon-stack-overflow-brands"></i></li>
								<li><a href="#"></a><i class="icon-amazon-brands"></i></li>
								<li><a href="#"></a><i class="icon-sass-brands"></i></li>
							</ul>
						</div>
					</div>
					<div class="block-about-table">
						<h3>Table of contents</h3>
						<ol class="block-about-table__list">
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
							<li>Consectetur adipisicing elit</li>
							<li>Labore et dolore magna</li>
						</ol>
						<button class="block-about-table__btn">More</button>
					</div>
				</div>
			</div>      
		</div>
	</section>
	<section id="books">
		<div class="page page_size">
			<div class="wrap">
				<h2 class="page__title">Other Books</h2>
				<p class="page__subtitle">Some books you might be interested in</p>
				<div class="block-more">
					<div class="block-more-product">
						<div class="block-more-product__img">
							<h3>Inception<span>Books are the best friends</span></h3>
							<p>- By Emma Anderson</p>
						</div>
						<h3>Inception</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
						<a href="#">Read More</a>
					</div>
					<div class="block-more-product">
						<div class="block-more-product__img">
							<h3>Fight Club<span>Books are the best friends</span></h3>
							<p>- By Emma Anderson</p>
						</div>
						<h3>Fight Club</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
						<a href="#">Read More</a>
					</div>
					<div class="block-more-product">
						<div class="block-more-product__img">
							<h3>Daredevils<span>Books are the best friends</span></h3>
							<p>- By Emma Anderson</p>
						</div>
						<h3>Daredevils</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
						<a href="#">Read More</a>
					</div>
			</div>
				<a class="page__btn" href="#">Browse all books</a>
			</div>
		</div>
	</section>
	<section id="education">
		<div class="page page-carousel">
			<div class="wrap">
				<div class="block-carousel">
					<div>
						<div class="block-carousel-thumb">
							<img src="../img/feedback.png" alt="avatar">
							<i class="icon-quote-right"></i>
						</div>
						<h3>Kate Dennings</h3>
						<p>Calligraphy Expert</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div>
						<div class="block-carousel-thumb">
							<img src="../img/feedback.png" alt="avatar">
						</div>
						<h3>Kate Dennings</h3>
						<p>Calligraphy Expert</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div>
						<div class="block-carousel-thumb">
							<img src="../img/feedback.png" alt="avatar">
						</div>
						<h3>Kate Dennings</h3>
						<p>Calligraphy Expert</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
			</div>
			 <svg class="page__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1601 849"><path fill="#44444f" d="M0 0l802 61 799-61v789l-799 60L0 789z"/></svg>
		</div>
	</section>
	<section id="events">
		<div class="page">
			<div class="wrap">
				<div class="block-event">
				<div class="block-author-avatar">
					<svg class="block-author-avatar__svg" width="435px" height="704px">
						<linearGradient id="gradi" gradientUnits="userSpaceOnUse" x1="435px" y1="704px" x2="19.654762" y2="35.440475">
							<stop style="stop-color:#426384" offset="0"/>
							<stop style="stop-color:#5acab1" offset="1"/>
							</linearGradient>
						<rect width="435px" height="704px" x="0" y="0" fill=url(#gradi)></rect>
					</svg>
					<img src="../img/author-image2.jpg" alt="Author" class="block-author-avatar__img">
				</div>
				<div class="block-event-date">
					<p class="block-event-date__author">- Emma Anderson</p>
					<h2 class="block-event-date__title">Upcoming Events</h2>
					<p class="block-event-date__subtitle">Some upcoming events you might be interested in</p>
					
					<p class="block-event-date__info">November 21, 2018</p>
					<h4 class="block-event-date__place">Book signing - San francisco, CA</h4>
					<p class="block-event-date__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p  class="block-event-date__info">
					<button class="block-event-date__btn" type="submit">Register</button>

					<p class="block-event-date__info">November 21, 2018</p>
					<h4 class="block-event-date__place">Book signing - San francisco, CA</h4>
					<p class="block-event-date__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					<button class="block-event-date__btn" type="submit">Register</button>
				</div>
				</div>	
			</div>
		</div>
	</section>
	<section id="blog">
		<div class="page page_size page_gray page_gray_size">
			<div class="wrap">
				<h2 class="page__title page__title_top">Latest from Blog</h2>
				<p class="page__subtitle">Some of the latest posts from my personal blog</p>
				<div class="block-item">
					<div class="block-item__info">
						<div class="block-item__img"><a href="#"><img src="../img/blog1.jpg" alt="Image"></a></div>
						<h4 class="block-item__title">Importance of light in photography</h4>
						<a class="block-item__date" href="#">Emma Anderson <span>-</span> June 20<span>,</span> 2018</a>
						<p class="block-item__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
					</div>
					<div class="block-item__info">
						<div class="block-item__img"><a href="#"><img src="../img/blog2.jpg" alt="Image"></a></div>
						<h4 class="block-item__title">The tools you need for the perfection</h4>
						<a class="block-item__date" href="#">Emma Anderson <span>-</span> June 25<span>,</span> 2018</a>
						<p class="block-item__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
					</div>
					<div class="block-item__info">
						<div class="block-item__img"><a href="#"><img src="../img/blog3.jpg" alt="Image"></a></div>
						<h4 class="block-item__title">Knowing the difference is important</h4>
						<a class="block-item__date" href="#">Emma Anderson <span>-</span> August 22<span>,</span> 2018</a>
						<p class="block-item__desc">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
					</div>
				</div>
				<a class="page__btn page__btn_size" href="#">Read more in the blog</a>
			</div>
		</div>
		
	</section>
	<section id="clients">
			<div class="wrap">
				<div class="block-subscribe">
					<div class="block-subscribe__join">
						<h2>Join Newsletter</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
					<div class="block-subscribe__email">
						<input type="email" placeholder="Enter your email">
						<button type="submit">Subscribe</button>
					</div>
				</div>
			</div>
	</section>
	<footer id="credits">
		<div class="page page_size page_dark-gray">
			<div class="wrap">
				<div class="block-credits">
					<div class="block-credits-copyright">
						<a href="#" class="header__logo header__logo_color"></a>
						<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						<span>© 2018 Bukee Private Limited.</span></p>
					</div>
					<div class="block-credits-links">
						<h4>Useful Links</h4>
						<ul>
							<li><a href="#">About Bukee</a></li>
							<li><a href="#">Explore Our Ecosystem</a></li>
							<li><a href="#">Monthly Community Meetup</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
					<div class="block-credits-contacts">
						<h4>Our Contacts</h4>
						<p>Amphitheatre Parkway, CA, 94043</p>
						<a href="tel:+4455663322">Call us on: +4455663322</a>
						<a href="mailto:support@bukee.mail">Email: support@bukee.mail</a>
						<ul>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-twitch"></i></a></li>
							<li><a href="#"><i class="icon-youtube"></i></a></li>
							<li><a href="#"><i class="icon-slack"></i></a></li>
							<li><a href="#"><i class="icon-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

		@@include("../blocks/modules/header/header.html")
		@@include("../blocks/modules/footer/footer.html")
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script>
			$(document).ready(function(){
				$('.block-carousel').slick({
					dots:true,
					arrows: false,
				});
			});
		</script>
	</body>
</html>
